<div class="row mt-2">
  <% if (theme.footer) { %>
    <div class="eight columns">
      &nbsp;
    </div>

    <!-- Sepcial thanks to https://simpleicons.org/ for the icons -->
    <div class="four columns mb-3 posisi" >
      <% if (theme.github) { %>
      <a class="ml-0 footer-link icon" href="https://ziptoss.com" target="_blank" style="text-decoration: none" rel="noreferrer" aria-label="GitHub">
        <img src="https://avatars.githubusercontent.com/u/67136867?s=400&u=0aae3a9f28d03e87bc9f17bf5e87d95f7613846e&v=4" style="width: 18px; box-shadow: none;">
      </a>
      <% } %>

    </div>
  <% } %>
</div>
